.node circle { 
            cursor: pointer;
            stroke: #3182bd;
            stroke-width: 1.5px;
        }
        
        .node text {
            font: 12px sans-serif;
            pointer-events: none;
            text-anchor: middle;
        }
        
        line.link {
            fill: none;
            stroke: #9ecae1;
            stroke-width: 1.5px;
        }

        .baseText {
            background-color: snow;
            font-weight: bold;
        }

        .legend rect {
            fill:white;
            stroke:black;
            opacity:0.8;
            }

        .legendOrdinal{
            border: gray 1px solid;
            float:right;
        }    
        div.tooltip {
            max-width: 600px;
            height: auto;
            padding:10px;
            border-radius: 5px;
            box-shadow: 4px 10px rgba(0, 0, 0, 0.5);
            pointer-events: none;
            font-family: sans-serif;
            font-size: 12px;
            background-color: #2D2926  ;
            color: white;
            display:inline; 
            position:absolute;
            border:1px solid #DCA; 
            }

        .fa-home { color: #A5C830; }
        .fa-code-fork { color:#C87E30 }
        .fa-link{ color: green;}
        .fa-phone{ color: #D34E31;}
        .fa-user{ color: #31C1D3;}
        .fa-envelope-o{ color: #315BD3 ;}
        .fa-fa-code-fork{ color: #9631D3;}
        .fa-expand {color: red}
        .fa-dot-circle-o {color: purple}
        .fa {
            cursor: pointer;
            border: 2px solid darkgoldenrod;
            border-radius: 33px;
            background-color: #f2f3d0;
            padding: 5px;
        }

        .img-circle {
            border-radius: 50%;
        }